{% extends 'Home/base.html' %}

{% block page_title %} Preskool - Edit Subject {% endblock %}

{% block content %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Edit Subject</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Subject</a></li>
                <li class="breadcrumb-item active">Edit Subject</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" actiion="{% url 'edit_subject' subject.code %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Subject Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Subject ID</label>
                                <input type="text" class="form-control" name="subject_code" value="{{subject.code}}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Subject Name</label>
                                <input type="text" class="form-control" name="subject_name" value="{{subject.name}}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Class</label>
                                <input type="text" class="form-control" name="class_level"
                                    value="{{subject.class_level}}">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}