{% extends 'Home/base.html' %}

{% block page_title %} Preskool - Edit Department {% endblock %}

{% block content %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Edit Department</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'department_list' %}">Department</a></li>
                <li class="breadcrumb-item active">Edit Department</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'edit_department' department.department_id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Department Details</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Department ID</label>
                                <input type="text" class="form-control" name="department_id"
                                    value="{{department.department_id}}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Department Name</label>
                                <input type="text" class="form-control" name="department_name"
                                    value="{{department.name}}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Head of Department</label>
                                <input type="text" class="form-control" name="hod" value="{{department.hod}}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Department Start Date</label>
                                <input type="date" class="form-control" name="start_date"
                                    value="{{department.start_date | date:'Y-m-d'}}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>No of Students</label>
                                <input type="text" class="form-control" name="no_of_students"
                                    value="{{department.no_of_students}}">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}