{% extends 'header.html' %}
{% load static %}

{% block page_title %} Preskool - Register {% endblock %}

{% block body %}
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static 'assets/img/logo-white.png' %}" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Register</h1>
                        <p class="account-subtitle">Access to our dashboard</p>
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <span>{{ error }}</span>
                        </div>
                        {% endif %}

                        <form action="{% url 'signup' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="text" name="first_name" placeholder="First Name"
                                    required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="last_name" placeholder="Last Name"
                                    required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="Password"
                                    required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="confirm_password"
                                    placeholder="Confirm Password" required>
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-block" type="submit">Register</button>
                            </div>
                        </form>

                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">or</span>
                        </div>

                        <div class="social-login">
                            <span>Register with</span>
                            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#"
                                class="google"><i class="fab fa-google"></i></a>
                        </div>

                        <div class="text-center dont-have">Already have an account? <a
                                href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}