{% extends 'header.html' %}
{% load static %}

{% block page_title %} Preskool - Rest Password {% endblock %}

{% block body %}
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static 'assets/img/logo-white.png' %}" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Reset Password</h1>
                        <p class="account-subtitle">Enter a new password to reset your account</p>

                        <!-- Success/Error Messages -->
                        {% if messages %}
                        <div class="alert alert-info">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <!-- Password Reset Form -->
                        <form method="POST" action="{% url 'reset_password' token %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="password" name="new_password" placeholder="New Password" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" required>
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                            </div>
                        </form>

                        <div class="text-center dont-have">Back to <a href="{% url 'login' %}">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}